.head
{
    background-color: black;
    color:white;
    width: 100%;
    font-size: 35px;
    border:1px double white;
    text-align: center;
    height: 40%;
    padding: 1%;
}

.nav a
{
    color: black;
    float: left;
    display:block;
    text-align: center;
    padding: 14px 20px;    
    text-decoration: none; 
    width: 10%;               
}
.nav a:hover
{
    background-color: black;
    color: white;
}
.asi 
{
    background-color:darkgray;
    color:black;
    width: 20%;
    height: 80%;
    margin: 50px 0px 0px 0px;
    text-align: left;
}
.img
{
    width: 40%;
    height: 20%;
    margin: 10px 0px 0px 0px;
}
.block
{
    text-align: center;
    height:30%;
    padding:20px;
    font-size: 150%;
    color: white;
    
}
.signup
{
    margin:1px 190px 10px 550px;
    border: 5% double black;
    width: 105%;
    height: 200%;
    align-self: auto;
    color: white;
    border-radius: 40px;
    font-style: oblique;
    font-weight: bold;
    background-image: url("image1.jpeg");
    background-repeat: no-repeat;
    background-size: 800px;
    text-align: center;

}
.style
{
    width: 90%;
    height: 10%;
    border: 2px groove black;
    margin: 5px 0px 1px 1px;
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
}
.clsub
{
    margin: 5px 60px 30px 50px;
}
.clreset
{
    margin: 5px 30px 30px 60px;
}

.foot a
{   color:black;
    padding: 20px;
    text-decoration: none;
    position: relative;
    top: 90%;
    left:20%;
}
.foot a:hover
{
    background-color: black;
    color: white;
}
span
{   
    width: 210px;
    height: 50px;
    padding: 10px;
    text-align: left;
    border-radius: 20px;
}
.try
{
        position: absolute;
        left:1000px;
        top: 550px;
        background-color: #0059b3;
        color:black;
        z-index: 1;

}
.lmore
{
    position: absolute;
    left: 1040px;
    top: 590px;
    background-color: #248f24;
    color:black;
    z-index: 2;
}
.ex
{
    position: absolute;
    left: 1080px;
    top: 630px;
    background-color: #ff4d4d;
    color: black;
    z-index: 3;

}
.try:hover
{
    background-color: #0059b3;
    z-index: 4;
}
.lmore:hover
{
    background-color:#248f24;
    z-index: 5;
}
