.heading
{   
    font-size: 20px;
    font-weight: bolder; 
    margin:5px 5px 5px 5px;
    color:darkblue
}
.details
{   color:black;
    margin:5px 5px 5px 5px;
    font-size: 15px;
    font-weight: bold; 
}
.innerdetail
{
    color:darkcyan;
    font-size: 13px;


}
body
{  
    border-style: ridge;
    background-color:cornsilk;
}
