.head
{
    background-color: black;
    color:white;
    width: 100%;
    font-size: 35px;
    border:1px double white;
    text-align: center;
    height: 40px;
    padding: 1%;
}
.nav
{
    background-color:bisque;
}
.nav a
{
    color: black;
    float: left;
    display:block;
    text-align: center;
    padding: 14px 20px;    
    text-decoration: none;                
}
.nav a:hover
{
    background-color: black;
    color: white;
}
.asi 
{
    background-color:darkgray;
    color:black;
    width: 25%;
    height: 750px;
    margin: 50px 0px 0px 0px;
    text-align: left;
}
.img
{
    width: 40%;
    height: 20%;
    margin: 10px 0px 0px 0px;
}
.block
{
    text-align: center;
    height:30px;
    padding:20px;
    font-size: 20px;
    color: white;
    
}
.signup
{
    margin:1px 190px 10px 550px;
    border: 5px double black;
    width: 350px;
    height: 400px;
    align-self: auto;
    border-radius: 40px;
    font-style: oblique;
    font-weight: bold;
    background-image: url("image2.jpeg");
    background-repeat: no-repeat;
    background-size: 800px;

}
.style
{
    width: 339px;
    height: 30px;
    border: 2px groove black;
    margin: 5px 0px 1px 1px;
    border-radius: 10px;
}
.clsub
{
    margin: 5px 60px 30px 50px;
}
.clreset
{
    margin: 5px 30px 30px 60px;
}
.back
{
    background-position: 1000 1000;
    background-image: url(image3.jpeg); 
    background-repeat: no-repeat;
    background-size: 2000px;
}

.foot a
{   color:black;
    padding: 20px;
    text-decoration: none;
    position: relative;
    top: 90%;
    left:25%;
}
.foot a:hover
{
    background-color: black;
    color: white;
}
span
{   
    width: 210px;
    height: 50px;
    padding: 10px;
    text-align: left;
    border-radius: 20px;
}
.try
{
        position: absolute;
        left:1000px;
        top: 550px;
        background-color: #0059b3;
        color:black;
        z-index: 1;

}
.lmore
{
    position: absolute;
    left: 1040px;
    top: 590px;
    background-color: #248f24;
    color:black;
    z-index: 2;
}
.ex
{
    position: absolute;
    left: 1080px;
    top: 630px;
    background-color: #ff4d4d;
    color: black;
    z-index: 3;

}
.try:hover
{
    background-color: #0059b3;
    z-index: 4;
}
.lmore:hover
{
    background-color:#248f24;
    z-index: 5;
}
@media screen and (min-width:100) and (max-width:800)
{
.head
{
    background-color: black;
    color:white;
    width: 100%;
    font-size: 35px;
    border:1px double white;
    text-align: center;
    height: 40px;
    padding: 1%;
}
.nav a
{
    color: black;
    float: left;
    display:block;
    text-align: center;
    padding: 14px 20px;    
    text-decoration: none;   
    width: 100%;             
}
.nav a:hover
{
    background-color: black;
    color: white;
}
}