.head
{
    background-color: black;
    color:white;
    width: 100%;
    font-size: 35px;
    border:1px double white;
    text-align: center;
    height: 40px;
    padding: 1%;
}
.nav
{
    background-color:bisque;
}
.nav a
{
    color: black;
    float: left;
    display:block;
    text-align: center;
    padding: 14px 20px;    
    text-decoration: none;                
}
.nav a:hover
{
    background-color: black;
    color: white;
}
.asi 
{
    background-color:darkgray;
    color:black;
    width: 25%;
    height: 750px;
    margin: 50px 0px 0px 0px;
    text-align: left;
}
.img
{
    width: 40%;
    height: 20%;
    margin: 10px 0px 0px 0px;
}
.block
{
    text-align: center;
    height:30px;
    padding:20px;
    font-size: 20px;
    color: white;
    
}
.signup
{
    margin:1px 190px 10px 550px;
    border: 5px double black;
    width: 350px;
    height: 400px;
    align-self: auto;
    border-radius: 40px;
    font-style: oblique;
    font-weight: bold;
    background-image: url("image2.jpeg");
    background-repeat: no-repeat;
    background-size: 800px;

}
.style
{
    width: 339px;
    height: 30px;
    border: 2px groove black;
    margin: 5px 0px 1px 1px;
    border-radius: 10px;
}
.clsub
{
    margin: 5px 60px 30px 50px;
}
.clreset
{
    margin: 5px 30px 30px 60px;
}
.back
{
    background-position: 1000 1000;
    background-image: url(image3.jpeg); 
    background-repeat: no-repeat;
    background-size: 2000px;
}